#Only for production
# Backend
PORT=3000
DATABASE_URL=postgresql://transcendence:transcendence@db:5432/transcendence?schema=public
JWT_SECRET=change-me-in-production
FRONTEND_URL=http://localhost:8080
BACKEND_URL=http://localhost:3000

# 42 OAuth
FORTY_TWO_CLIENT_ID=
FORTY_TWO_CLIENT_SECRET=
FORTY_TWO_REDIRECT_URI=http://localhost:3000/api/auth/oauth/42/callback

# Frontend
VITE_API_URL=http://localhost:3000
VITE_WS_ALLOW_ANONYMOUS=true